# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Folders
.DS_Store

# CMake
/UnknownSources/.gitignore
/UnknownSources/cmake-build-debug/CMakeCache.txt
/UnknownSources/cmake-build-debug/CMakeFiles/3.15.3/CMakeCCompiler.cmake
/UnknownSources/cmake-build-debug/CMakeFiles/3.15.3/CMakeCXXCompiler.cmake
/UnknownSources/cmake-build-debug/CMakeFiles/3.15.3/CMakeDetermineCompilerABI_C.bin
/UnknownSources/cmake-build-debug/CMakeFiles/3.15.3/CMakeDetermineCompilerABI_CXX.bin
/UnknownSources/cmake-build-debug/CMakeFiles/3.15.3/CMakeSystem.cmake
/UnknownSources/cmake-build-debug/CMakeFiles/3.15.3/CompilerIdC/CMakeCCompilerId.c
/UnknownSources/cmake-build-debug/CMakeFiles/3.15.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
/UnknownSources/cmake-build-debug/CMakeFiles/CMakeDirectoryInformation.cmake
/UnknownSources/cmake-build-debug/CMakeFiles/CMakeOutput.log
/UnknownSources/cmake-build-debug/CMakeFiles/Makefile.cmake
/UnknownSources/cmake-build-debug/CMakeFiles/Makefile2
/UnknownSources/cmake-build-debug/CMakeFiles/TargetDirectories.txt
/UnknownSources/cmake-build-debug/CMakeFiles/UnknownSources.dir/CXX.includecache
/UnknownSources/cmake-build-debug/CMakeFiles/UnknownSources.dir/DependInfo.cmake
/UnknownSources/cmake-build-debug/CMakeFiles/UnknownSources.dir/build.make
/UnknownSources/cmake-build-debug/CMakeFiles/UnknownSources.dir/cmake_clean.cmake
/UnknownSources/cmake-build-debug/CMakeFiles/UnknownSources.dir/depend.internal
/UnknownSources/cmake-build-debug/CMakeFiles/UnknownSources.dir/depend.make
/UnknownSources/cmake-build-debug/CMakeFiles/UnknownSources.dir/flags.make
/UnknownSources/cmake-build-debug/CMakeFiles/UnknownSources.dir/link.txt
/UnknownSources/cmake-build-debug/CMakeFiles/UnknownSources.dir/progress.make
/UnknownSources/cmake-build-debug/CMakeFiles/clion-environment.txt
/UnknownSources/cmake-build-debug/CMakeFiles/clion-log.txt
/UnknownSources/cmake-build-debug/CMakeFiles/cmake.check_cache
/UnknownSources/cmake-build-debug/CMakeFiles/progress.marks
/UnknownSources/cmake-build-debug/Makefile
/UnknownSources/cmake-build-debug/UnknownSources
/UnknownSources/cmake-build-debug/UnknownSources.cbp
/UnknownSources/cmake-build-debug/cmake_install.cmake
