# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Folders
.DS_Store
.idea
cmake-build-debug

# CMake
CMakeLists.txt
/Interviews/.gitignore
/Interviews/cmake-build-debug/CMakeCache.txt
/Interviews/cmake-build-debug/CMakeFiles/3.15.3/CMakeCCompiler.cmake
/Interviews/cmake-build-debug/CMakeFiles/3.15.3/CMakeCXXCompiler.cmake
/Interviews/cmake-build-debug/CMakeFiles/3.15.3/CMakeDetermineCompilerABI_C.bin
/Interviews/cmake-build-debug/CMakeFiles/3.15.3/CMakeDetermineCompilerABI_CXX.bin
/Interviews/cmake-build-debug/CMakeFiles/3.15.3/CMakeSystem.cmake
/Interviews/cmake-build-debug/CMakeFiles/3.15.3/CompilerIdC/CMakeCCompilerId.c
/Interviews/cmake-build-debug/CMakeFiles/3.15.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
/Interviews/cmake-build-debug/CMakeFiles/CMakeDirectoryInformation.cmake
/Interviews/cmake-build-debug/CMakeFiles/CMakeOutput.log
/Interviews/cmake-build-debug/CMakeFiles/Makefile.cmake
/Interviews/cmake-build-debug/CMakeFiles/Makefile2
/Interviews/cmake-build-debug/CMakeFiles/TargetDirectories.txt
/Interviews/cmake-build-debug/CMakeFiles/UnknownSources.dir/CXX.includecache
/Interviews/cmake-build-debug/CMakeFiles/UnknownSources.dir/DependInfo.cmake
/Interviews/cmake-build-debug/CMakeFiles/UnknownSources.dir/build.make
/Interviews/cmake-build-debug/CMakeFiles/UnknownSources.dir/cmake_clean.cmake
/Interviews/cmake-build-debug/CMakeFiles/UnknownSources.dir/depend.internal
/Interviews/cmake-build-debug/CMakeFiles/UnknownSources.dir/depend.make
/Interviews/cmake-build-debug/CMakeFiles/UnknownSources.dir/flags.make
/Interviews/cmake-build-debug/CMakeFiles/UnknownSources.dir/link.txt
/Interviews/cmake-build-debug/CMakeFiles/UnknownSources.dir/progress.make
/Interviews/cmake-build-debug/CMakeFiles/clion-environment.txt
/Interviews/cmake-build-debug/CMakeFiles/clion-log.txt
/Interviews/cmake-build-debug/CMakeFiles/cmake.check_cache
/Interviews/cmake-build-debug/CMakeFiles/progress.marks
/Interviews/cmake-build-debug/Makefile
/Interviews/cmake-build-debug/UnknownSources
/Interviews/cmake-build-debug/UnknownSources.cbp
/Interviews/cmake-build-debug/cmake_install.cmake
/test.cpp
